name: Pull request

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  validate_format_config:
    name: Validate Format Config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install apt dependencies
        run: sudo apt-get -qq update && sudo apt-get -qq -y install curl

      - name: Compare against swift-mmio swift-format config
        run: |
          curl -sL https://raw.githubusercontent.com/apple/swift-mmio/refs/heads/main/.swift-format -o .swift-format-mmio
          diff .swift-format .swift-format-mmio

  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      windows_exclude_swift_versions: "[{\"swift_version\": \"5.9\"}]"

  cmake-build:
    name: CMake Build
    runs-on: ubuntu-latest
    container:
      image: swift:6.0-jammy
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Configure CMake
        run: cmake -GNinja -S . -B .cmake-build -DBUILD_EXAMPLES=1 -DBUILD_TESTING=0
      - name: Build
        run: cmake --build .cmake-build

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_enabled: false  # feature: https://github.com/swiftlang/github-workflows/issues/78
      license_header_check_project_name: "Swift Argument Parser"  # bug: https://github.com/swiftlang/github-workflows/issues/76
      shell_check_enabled: false  # bug: https://github.com/apple/swift-argument-parser/issues/703
