name: Pull request

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  validate_format_config:
    name: Validate Format Config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install apt dependencies
        run: sudo apt-get -qq update && sudo apt-get -qq -y install curl

      - name: Compare against swift-mmio swift-format config
        run: |
          curl -sL https://raw.githubusercontent.com/apple/swift-mmio/refs/heads/main/.swift-format -o .swift-format-mmio
          diff .swift-format .swift-format-mmio

  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      windows_exclude_swift_versions: "[{\"swift_version\": \"5.9\"}]"
      enable_macos_checks: true

  cmake-build:
    name: CMake Build
    runs-on: ubuntu-latest
    container:
      image: swift:6.0-jammy
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install apt dependencies
        run: apt-get -qq update && apt-get -qq -y install curl ninja-build
      - name: Install CMake 3.30.2
        run: |
          ARCH=`uname -m`
          curl -sL https://github.com/Kitware/CMake/releases/download/v3.30.2/cmake-3.30.2-linux-$ARCH.tar.gz -O
          tar xzf cmake-3.30.2-linux-$ARCH.tar.gz
          export PATH="`pwd`/cmake-3.30.2-linux-$ARCH/bin:$PATH"
          echo "PATH=$PATH" >> $GITHUB_ENV
          cmake --version
      - name: Configure CMake
        run: cmake -GNinja -S . -B .cmake-build -DBUILD_EXAMPLES=1 -DBUILD_TESTING=0
      - name: Build
        run: cmake --build .cmake-build

  wasm-build:
    name: Wasm Build
    runs-on: ubuntu-latest
    container:
      image: swift:6.1-noble
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Swift SDKs for WebAssembly
        run: |
          # TODO: We can replace these Swift SDKs with the swift.org one once it supports Foundation.
          swift sdk install https://github.com/swiftwasm/swift/releases/download/swift-wasm-6.1-RELEASE/swift-wasm-6.1-RELEASE-wasm32-unknown-wasi.artifactbundle.zip --checksum 7550b4c77a55f4b637c376f5d192f297fe185607003a6212ad608276928db992
          swift sdk install https://github.com/swiftwasm/swift/releases/download/swift-wasm-6.1-RELEASE/swift-wasm-6.1-RELEASE-wasm32-unknown-wasip1-threads.artifactbundle.zip --checksum 0dd273be28741f8e1eb00682c39bdc956361ed24b5572e183dd8a4e9d1c5f6ec
          swift sdk list
      - name: Build
        run: |
          swift build --swift-sdk wasm32-unknown-wasi --target ArgumentParser
          swift build --swift-sdk wasm32-unknown-wasip1-threads --target ArgumentParser

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      shell_check_enabled: false  # bug: https://github.com/apple/swift-argument-parser/issues/703
