.highlight {
    background:#fff
}

.highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
    color:#007400
}

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .nb {
    color:#AA0D91
}

.highlight .kt {
    color:#3F6E74
}

.highlight .err {
    color:#a61717
}

.highlight .o {
    font-weight:bold
}

.highlight .gd {
    color: #000000;
    background-color:#fdd
}

.highlight .gd .x {
    color: #000000;
    background-color:#faa
}

.highlight .ge {
    font-style:italic
}

.highlight .gr {
    color:#a00
}

.highlight .gh {
    color:#999
}

.highlight .gi {
    color: #000000;
    background-color:#dfd
}

.highlight .gi .x {
    color: #000000;
    background-color:#afa
}

.highlight .go {
    color:#888
}

.highlight .gp {
    color:#555
}

.highlight .gs {
    font-weight:bold
}

.highlight .gu {
    color:#aaa
}

.highlight .gt {
    color:#a00
}

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
    color:#1C00CF
}

.highlight .s {
    color:#C41A16
}

.highlight .na {
    color:teal
}

.highlight .nc {
    color:#5C2699
}

.highlight .no {
    color:teal
}

.highlight .ni {
    color:purple
}

.highlight .ne {
    color:#900
}

.highlight .nn {
    color:#555
}

.highlight .nt {
    color:navy
}

.highlight .nv, .highlight .nf {
    color:#3F6E74
}

.highlight .ow {
    font-weight:bold
}

.highlight .w {
    color:#bbb
}

.highlight .sb {
    color:#d14
}

.highlight .sc {
    color:#d14
}

.highlight .sd {
    color:#d14
}

.highlight .s2 {
    color:#d14
}

.highlight .se {
    color:#d14
}

.highlight .sh {
    color:#d14
}

.highlight .si {
    color:#d14
}

.highlight .sx {
    color:#d14
}

.highlight .sr {
    color:#009926
}

.highlight .s1 {
    color:#d14
}

.highlight .ss {
    color:#990073
}

.highlight .bp {
    color:#999
}

.highlight .vc {
    color:teal
}

.highlight .vg {
    color:teal
}

.highlight .vi {
    color:teal
}

.highlight .il {
    color:#099
}

